**/*.bak
**/*.ncb
**/*.plg
**/*.opt
**/*.sdf
**/*.opensdf
**/*.aps
**/*.clw
**/*.suo
**/*.user*
**/Release
**/Debug
**/obj
**/ipch
**/log
**/SCSPDHelperLog
**/SignDataBmp.bmp
**/SignDataBmp1.bmp
**/Template
**/gtf_log
.svn
.vs